[Unit]
Description=X Window Manager (bspwm)
Documentation=man:bspwm(1)
Requires=gui-session-pre.target
After=gui-session-pre.target
Before=gui-session.target
Wants=gui-session.target
PartOf=gui-session.target

[Service]
Slice=session.slice
EnvironmentFile=%h/.config/systemd/user/bspwm.env
ExecStart=/usr/bin/bspwm
ExecStop=/usr/bin/bspc quit
ExecReload=/usr/bin/sh -c '/usr/bin/bspc wm -r'

[Install]
WantedBy=gui-session-pre.target
RequiredBy=gui-session.target
