[Unit]
Description=A C daemon that turns your webcam into a light sensor.
Documentation=man:clight(1)
After=gui-session.target
PartOf=gui-session.target

[Service]
ExecStart=/usr/bin/clight

[Install]
WantedBy=gui-session.target

