[Unit]
Description=Redshift Color Temperature
Documentation=man:redshift(1)
After=gui-session.target
PartOf=gui-session.target

[Service]
ExecStart=/usr/bin/redshift

[Install]
WantedBy=gui-session.target

