[Unit]
Description=Xorg server at display %i
Documentation=man:xorg(1)
Requires=xorg@%i.socket
After=xorg@%i.socket
Before=gui-session-pre.target
Wants=gui-session-pre.target

[Service]
Type=notify
NotifyAccess=all
Slice=session.slice
SuccessExitStatus=0 1
Environment=DISPLAY=:%i
# Xorg checks to see if it has inherited SIGUSR1 as SIG_IGN, in this case it sends a SIGUSR1 to its parent process after it has set up connection schemes.
# Running wait to keep service alive while trap triggered and the wait returns 138 (which is 128+SIGINT)
ExecStart=/bin/sh -c 'trap "/usr/bin/systemd-notify --status=Listening... --ready" SIGUSR1; (trap "" SIGUSR1; exec /usr/bin/Xorg ${DISPLAY} -nolisten tcp -verbose 2 "vt1")& wait $!; test $? == 138 && wait'

[Install]
Also=xorg@%i.socket
WantedBy=default.target
RequiredBy=gui-session-pre.target
