[Unit]
Description=Merge Xresources
Documentation=man:xrdb(1)
After=gui-session.target
PartOf=gui-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge ${HOME}/.Xresources

[Install]
WantedBy=gui-session.target
